cachetools==5.3.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
google-api-core==2.11.0
google-auth==2.18.0
google-cloud-speech==2.19.0
googleapis-common-protos==1.59.0
grpcio==1.54.2
grpcio-status==1.54.2
idna==3.4
inflection==0.5.1
Pillow==9.5.0
proto-plus==1.22.2
protobuf==4.23.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
pycparser==2.21
raylib-dynamic==4.2.1.2
requests==2.30.0
rsa==4.9
six==1.16.0
SpeechRecognition==3.10.0
tk==0.1.0
urllib3==1.26.15
