.ppt-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 100%; /* 使用100%寬度填充父元素 */
    max-width: 100%; /* 最大寬度也可以調整 */
    height: 80%;
}

.slide {
    /* 根據您的需求設置每個幻燈片的樣式 */
    margin-bottom: 20px; /* 幻燈片之間的間距 */
}

#Title {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 20px;
}

#LittleTitle {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top:30px;
    margin-left: 40%;
}
#LittleTitle div{
    margin-top:25px;
}

#Content {
    font-size: 18px;
    margin-bottom: 20px;
}

#PIC img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}